spring:
  datasource:
    url: db-url
    username:
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        show_sql: true
        format_sql: true
        naming:
          physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategySnakeCaseImpl

  devtools:
    restart:
      enabled: true
    livereload:
      enabled: true

  servlet:
    multipart:
      resolve-lazily: true
      enabled: true

logging:
  level:
    org.hibernate.SQL: debug
#    org.hibernate.type.descriptor.sql: trace  # 파라미터 바인딩 로그 출력용 (옵션)

server:
  port: 8080
  servlet:
    session:
      timeout: 180m
