version: '3.8'
services:
  backend:
    build: .
    ports:
      - "8080:8080"
    environment:
      - spring.datasource.url=jdbc:mysql:mysql://mysql.cxcms6k22ed0.ap-northeast-2.rds.amazonaws.com:3306/final_db
      - spring.datasource.username=admin
      - spring.datasource.password=mysql1234
    depends_on:
      - mysql

  mysql:
    image: mysql:8
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: mydb
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
